@import 'bootstrap/dist/css/bootstrap';

#card-element {
    width:500px;
}

.paymentSelectionTab {
    //display: none;
    color: black;
}
.paymentSelectionTab.active {
   //display: block !important;
   color: blue;
}
h1 {
  color: blue;
}
h4 {
  color: green;
}